<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    {% if page.custom_css %}
        {% for stylesheet in page.custom_css %}
            <link rel="stylesheet" type="text/css" href="/css/{{ stylesheet }}">
        {% endfor %}
    {% endif %}

    <!-- Icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-touch-icon-57x57.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-touch-icon-60x60.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-touch-icon-72x72.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-touch-icon-76x76.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-touch-icon-114x114.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-touch-icon-120x120.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-touch-icon-144x144.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-touch-icon-152x152.png?v=oLLPWWp3L8">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon-180x180.png?v=oLLPWWp3L8">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png?v=oLLPWWp3L8" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/android-chrome-192x192.png?v=oLLPWWp3L8" sizes="192x192">
    <link rel="icon" type="image/png" href="/icons/favicon-96x96.png?v=oLLPWWp3L8" sizes="96x96">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png?v=oLLPWWp3L8" sizes="16x16">
    <link rel="manifest" href="/icons/manifest.json?v=oLLPWWp3L8">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg?v=oLLPWWp3L8" color="#f36e21">
    <link rel="shortcut icon" href="/icons/favicon.ico?v=oLLPWWp3L8">
    <meta name="apple-mobile-web-app-title" content="What Week Is It @ RIT">
    <meta name="application-name" content="What Week Is It @ RIT">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/icons/mstile-144x144.png?v=oLLPWWp3L8">
    <meta name="msapplication-config" content="/icons/browserconfig.xml?v=oLLPWWp3L8">
    <meta name="theme-color" content="#f36e21">
</head>
