// Additional CSS

// A little padding...
body
{
	padding-top: 30px;
}

// Match the logo type
.rit-logo
{
	font-family: Georgia, Serif;
}

.christmas
{
	background: repeating-linear-gradient(
		45deg,
		red,
		red 100px,
		green 100px,
		green 200px
	);
}

.text-christmas span:nth-of-type(even){
	color:green;
}
.text-christmas span:nth-of-type(odd){
	color:red;
}
