/*
 * Insert any additional CSS/SCSS we need.
 */

// A little padding...
body 
{ 
	padding-top: 30px;
}

// Match the logo type
.rit-logo
{
	font-family: Georgia, Serif;
}

// Sticky footer
$footer-height: 20px;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #f5f5f5;
}