// Sticky footer
$footer-height: 1.5em;
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footer-height;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: $footer-height;
  background-color: #eee;
}
.text-footer {
  margin: 0;
}